@import '../../variables.scss';

.menu {
  grid-row: 2;
  grid-column: 1;

  position: sticky;
  top: $header-height;
  width: 350px;
  height: calc(100vh - #{$header-height});
  background-color: $base-color;
}